<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>C# madlib!</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" >
  </head>
  <body>
    <h1 id="type">Do a Madlib!</h1>
    <form action="/madlib" method="post">
     <input id="noun1" class="rainbow1" name="properNoun" type="text" placeholder="Enter a plural noun" required>
     <input id="noun2" class="rainbow2" name="noun2" type="text" placeholder="Enter a noun" required>
     <input id="verb1" class="rainbow3" name="verb1" type="text" placeholder="Enter the first verb" required>
     <input id="verb2" class="rainbow4" name="verb2" type="text" placeholder="Enter the second verb" required>
     <input id="adjective1" class="rainbow5" name="adjective1" type="text" placeholder="Enter the first adjective" required>
     <button type="submit" id="btnLocation">Go!</button>
    </form>
  </body>
</html>