<!DOCTYPE html>
<html>
  <head>
    <title>Hello Friend!</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" >
  </head>
  <body>
  <h1 id="type">MAD MadLibs</h1>
  <p id="colorizer">Hello This is a web site to create a fun madlib click the button to try it  </p>
  <a href="/form"><button id="btnLocation">Test it out!</button></a>
  </body>
</html>