<!DOCTYPE html>
<html>
  <head>
    <title>Hello Friend!</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" >
  </head>
  <body>
  <!-- <style>
  body{
    background-color: goldenrod;
  }
  </style> -->
  <h1>Hello From Afar</h1>
  <p>Hello This is a web site to create a fun madlib click the button to try it  </p>
  <a href="/form"><button class="btn btn-primary">go try it</button></a>
  </body>
</html>